### .aliases

### OS specific ################################################################

# Upgrade Homebrew/Linuxbrew formulas
alias br='brew update && brew upgrade --cleanup'

if [[ "$OSTYPE" = darwin* ]]; then
  # Brew cask upgrade
  alias brc='sudo -v && brew update && brew cask upgrade -a --yes && brew cask cleanup'

  # Install OS X software updates
  alias upgrade='sudo -v && mas upgrade'

  # Flush OS X DNS cache
  alias flush='dscacheutil -flushcache && sudo killall -HUP mDNSResponder'

  # Recursively delete .DS_Store files in the current path
  alias cleanupds='find . -type f -name "*.DS_Store" -ls -delete'

  # Clean up LaunchServices to remove duplicates in the “Open With” menu
  alias cleanupls='/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder'

  # Mute or unmute sounds
  alias mute='osascript -e "set volume output muted true"'
  alias blast='osascript -e "set volume output muted false"'

  # Lock screen
  alias afk='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'

  # Show or hide hidden files in Finder
  alias show='defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder'
  alias hide='defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder'

  # Disable or enable Spotlight
  alias spotoff='sudo mdutil -a -i off'
  alias spoton='sudo mdutil -a -i on'

  # Empty the Trash on all mounted volumes and the main HDD
  # Also, clear Apple’s System Logs to improve shell startup speed
  # Finally, clear download history from quarantine. See: https://mths.be/bum
  alias trash='sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* "delete from LSQuarantineEvent"'

  # Canonical hex dump; some systems have this symlinked
  command -v hd > /dev/null || alias hd='hexdump -C'

  # OS X has no `md5sum`, use `md5` as a fallback
  command -v md5sum > /dev/null || alias md5sum='md5'

  # OS X has no `sha1sum`, use `shasum` as a fallback
  command -v sha1sum > /dev/null || alias sha1sum='shasum'
else
  alias upgrade='sudo apt update && sudo apt upgrade -y && \
    sudo apt autoremove -y && sudo apt clean'

  alias dupgrade='sudo apt update && sudo apt dist-upgrade -y && \
    sudo apt autoremove -y && sudo apt clean'

  # Alternatives to `pbcopy` and `pbpaste` in OS X
  alias pbcopy='xsel --clipboard --input'
  alias pbpaste='xsel --clipboard --output'

  # Alternative to `open` in OS X
  alias open='xdg-open'
fi

### More sensible defaults #####################################################

alias grep='grep --color'
alias fgrep='fgrep --color'
alias egrep='egrep --color'
alias ping='ping -c 99999'

### Safer defaults #############################################################

alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'

### Enhanced ls ################################################################

if [[ "$OSTYPE" = darwin* ]]; then
  if which gls >/dev/null ; then
    alias ls='gls --color -h --group-directories-first --time-style="+%d-%b-%y %H:%M:%S"'
  fi
else
  alias ls='ls --color -h --group-directories-first --time-style="+%d-%b-%y %H:%M:%S"'
fi

alias l='ls -al'
alias la='l --author'
alias lal='la --dereference'

alias le='l -XB && echo Ordered by extension, alphabetically'
alias lb='l -Sr && echo Ordered by size, biggest last'
alias lt='l -tr && echo Ordered by date, most recent last'
alias lu='l -tcr && echo Ordered by change time, most recent last'
alias lr='l -tur && echo Ordered by access time, most recent last'

### Shortcuts ##################################################################

alias a='ag --all-types --hidden --skip-vcs-ignores --pager="less -MIRFX"'
alias b='watch -d -n 5 --color http --verify=no --follow --verbose'
alias c='ccat --bg="dark"'
alias d='ranger'
alias e="$EDITOR"
alias f='ff'
# g for (scmpuff) git aliases
alias h='history'
alias i='sudo lsof -i'
alias j='fasd_cd -d'
alias k='htop --sort-key PERCENT_CPU || top -o cpu'
# l for ls
alias m='sudo mtr'
alias n='sudo netstat -aln'
alias o='open'
alias p='pstree -g 2 -s'
alias q='clear'
# r is for reload shell rc
alias s='fasd -f -i -e subl --new-window'
alias t='tail --follow --verbose --lines=20'
alias u='du -m -d 1 | sort -n'
alias v='fasd -f -i -e nvim'
alias w='which -a'
alias x='pkill -i -f'
# alias y="sudo \$(fc -ln -1)"
alias z='ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -A'

### Docker #####################################################################

alias dbt='docker build . -t'
alias drti='docker run -ti -t'
alias drms='docker stop $(docker ps -a -q)'
alias drmc='docker rm -f -v $(docker ps -a -q)'
alias drmi='docker rmi -f $(docker images -a -q)'
alias drmv='docker volume rm -f $(docker volume ls -q)'

### Misc #######################################################################

# Copy the current path to clipboard
alias cwd='pwd | tr -d "\n" | pbcopy'

# Quick move to downloads
alias dl="cd ~/Downloads"

# Get the public IP address
alias myip='dig +short myip.opendns.com @resolver1.opendns.com'

# Display PATH content
alias path="echo -e '${PATH//:/\\n}'"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Alias 'vim' to 'nvim'
alias vim='nvim'

# Get the week number
alias week='date +%V'

### Utilities ##################################################################

# Quick calculator
calc() {
  echo "${1}" | bc -l
}

# Quick extract
ext() {
 if [[ -f $1 ]]; then
   case $1 in
     *.tar.bz2)   tar xvjf $1    ;;
     *.tar.gz)    tar xvzf $1    ;;
     *.bz2)       bunzip2 $1     ;;
     *.rar)       unrar x $1     ;;
     *.gz)        gunzip $1      ;;
     *.tar)       tar xvf $1     ;;
     *.tbz2)      tar xvjf $1    ;;
     *.tgz)       tar xvzf $1    ;;
     *.zip)       unzip $1       ;;
     *.Z)         uncompress $1  ;;
     *.7z)        7z x $1        ;;
     *)           echo "don't know how to extract '$1'..." ;;
   esac
 else
   echo "'$1' is not a valid file!"
 fi
}

# Quick find by file name
ff() {
  find ${2:-$PWD} -iname "*$1*"
}

# Quick password generator
genpass() {
  cat /dev/urandom | tr -dc 'a-zA-Z0-9-_!@#$%^&*()_+{}|:<>?=' | \
    fold -w $1 | head -n1 | pbcopy
}

# Npm remove all global packages
npmclear() {
  npm ls -gp --depth=0 | awk -F/ '/node_modules/ && !/\/npm$/ {print $NF}' | xargs npm -g rm
}

# Pip remove all
pipclear() {
  pip freeze | grep -v "^-e" | xargs pip uninstall -y
}
