[code]
    ignorecase = false
[user]
    name = Anssi Syrjäsalo
    email = anssi.syrjasalo@gmail.com
[color]
    ui = auto
[color "branch"]
    current = green reverse
    local = green
    remote = magenta
[color "diff"]
    meta = yellow bold
    frag = yellow
    old = red bold
    new = green bold
[color "status"]
    added = green
    changed = red bold
    untracked = magenta bold
[alias]
    a = add
    amend = commit --amend
    b = branch -v
    ba = branch -av
    bd = branch -d
    c = commit -v
    co = checkout
    con = diff --name-only --diff-filter=UU
    df = diff
    in = pull --rebase
    incoming = !git remote update -p; log ..@{u}
    out = push -u
    outgoing = log @{u}..
    lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(green)%d%Creset %s %C(blue)(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
    mg = merge
    undo = checkout --
    unstage = reset HEAD --
    ready = rebase -i @{u}
    st = status -sb
    daily = log --since '1 day ago' --oneline --author anssi.syrjasalo@
    discard = reset --hard HEAD
    contributors = shortlog --summary --numbered
[apply]
    whitespace = fix
[push]
    default = current
    followTags = true
[core]
    quotepath = off
    autocrlf = input
    trustctime = false
    precomposeunicode = false
[fetch]
    prune = true
[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[merge]
    ff = false
    log = true
[pull]
	rebase = true
