[submodule "common/.vim/bundle/vim-tomorrow-theme"]
	path = common/.vim/bundle/vim-tomorrow-theme
	url = git://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "common/.vim/bundle/supertab"]
	path = common/.vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "common/.vim/bundle/minibufexpl.vim"]
	path = common/.vim/bundle/minibufexpl.vim
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "common/.vim/bundle/nerdtree"]
	path = common/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "common/.vim/bundle/vim-l9"]
	path = common/.vim/bundle/vim-l9
	url = git://github.com/slack/vim-l9.git
[submodule "common/.vim/bundle/dbext.vim"]
	path = common/.vim/bundle/dbext.vim
	url = git://github.com/vim-scripts/dbext.vim.git
[submodule "common/.vim/bundle/Command-T"]
	path = common/.vim/bundle/Command-T
	url = git://github.com/vim-scripts/Command-T.git
[submodule "common/.vim/bundle/tComment"]
	path = common/.vim/bundle/tComment
	url = git://github.com/vim-scripts/tComment.git
[submodule "common/.vim/bundle/vim-bufonly"]
	path = common/.vim/bundle/vim-bufonly
	url = git://github.com/duff/vim-bufonly.git
[submodule "common/.vim/bundle/vim-ruby"]
	path = common/.vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "common/.vim/bundle/vim-javascript"]
	path = common/.vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "common/.vim/bundle/vim-coffee-script"]
	path = common/.vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "common/.vim/bundle/vim-json"]
	path = common/.vim/bundle/vim-json
	url = git://github.com/leshill/vim-json.git
[submodule "common/.vim/bundle/vim-css-color"]
	path = common/.vim/bundle/vim-css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "common/.vim/bundle/vim-endwise"]
	path = common/.vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "common/.vim/bundle/vim-fugitive"]
	path = common/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "common/.vim/bundle/vim-perl"]
	path = common/.vim/bundle/vim-perl
	url = git://github.com/petdance/vim-perl.git
[submodule "common/.oh-my-zsh"]
	path = common/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh-extras/bullet-train-oh-my-zsh-theme"]
	path = zsh-extras/bullet-train-oh-my-zsh-theme
	url = git@github.com:caiogondim/bullet-train-oh-my-zsh-theme.git
[submodule "extras/autojump"]
	path = extras/autojump
	url = git://github.com/joelthelion/autojump.git
