<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.pc</string>
	<key>CFBundleName</key>
	<string>My</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>KLInfo_EnglishMY</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.pc.englishmy</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_FinnishMY</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.pc.finnishmy</string>
		<key>TISIntendedLanguage</key>
		<string>fi</string>
	</dict>
</dict>
</plist>
